
html{
    /* change background color */
    background-color: black; 
    
    /* master font color */
    color: white;
}

body{
    margin: 0;
}

div{
    /* put the borders on the inside of container */
    box-sizing: border-box;
}

#navbar{
    height: 50px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

#flex{
    /* this display function of flex with css arrays divisions */
    display: flex;
    height: calc(100vh - 52px); 
}

#sidebar{
    font-weight: bold;
    width: 30%
}

#list{
    font-style: italic;
}

#main{
    font-weight: bold;
    color: teal;
    width: 70%;
    background-color: white;
}

#para1{
    font-style: italic;
}

.fit-picture{
    width: 600px;
}

.container{
    border-style: dotted;
    border-color: lightpink;
    border-width: 1px;
    background-color: darkgray;
}

/* select by tag 
select by #id
select by.class */